<tr>
    <th scope="row" class='text-center'>{{Status}}</th>
    <td class="text-left">{{orderID}}</td>
    <td class="text-right">{{c_firstName}} {{c_lastName}}</td>
    <td class="text-right">{{date}}</td>
    <td class="text-right">{{total}}</td>
    <td>
        <a href="#" class="btn btn-primary">Order Details</a>
    </td>
</tr>