<tr>
    <th scope="row" class='text-left'>{{status}}</th>
    <td class="text-right">{{orderID}}</td>
    <td class="text-left">{{c_firstName}} {{c_lastName}}</td>
    <td class="text-right">{{getDate date}}</td>
    <td class="text-right">{{total}}</td>
    <td>
        <a href="/r/TacTown/{{orderID}}" class="btn btn-primary">Order Details</a>
    </td>
</tr>