<tr>
    <th scope="row" class='text-left'>{{status}}</th>
    <td class="text-right">{{orderID}}</td>
    <td class="text-left">{{restName}}</td>
    <td class="text-center">{{getDate date}}</td>
    <td class="text-right">{{total}}.00</td>
    <td>
        <a href="/u/order/{{orderID}}" class="btn btn-primary">Order Details</a>
    </td>
</tr>